@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
}
.primary-text {
  color: rgb(53, 105, 22);
}
#showcase {
  background: url("../img/showbox2.jpeg") no-repeat center center;
  border-bottom: 2px solid #333;
  height: 600px;
  margin-bottom: 60px;
}
#title {
  margin-bottom: 60px;
}

#intro {
  margin-bottom: 80px;
}
#intro h3 {
  color: rgb(53, 105, 22);
}
#intro p {
  line-height: 1.6rem;
  text-align: justify;
}

div#video {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

iframe {
  border: solid 15px #333;
}

h1 {
  font-size: 50px;
}

#cce {
  background: #333;
}
.white {
  color: white;
}
#title-cce {
  display: grid;
  justify-content: center;
  border-bottom: solid 9px rgb(53, 105, 22);
  border-top: solid 9px rgb(53, 105, 22);
  margin-bottom: 20px;
}

#grid-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 95px 95px 95px 95px 95px;
  grid-gap: 10px;
  padding: 10px;
}

#grid-2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 95px 95px 95px;
  grid-gap: 10px;
  padding: 10px;
}

#grid-3 {
  display: grid;
  justify-content: center;
  grid-template-columns: 95px 95px 95px 95px 95px;
  grid-gap: 10px;
  padding: 10px;
}
#bet {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}
#bet h2 {
  background: white;
  color: #333;
  font-size: 40px;
  border: solid rgb(53, 105, 22);
  padding: 15px;
}
.btn {
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: rgb(53, 105, 22);
  margin-bottom: 60px;
}

#footer {
  background: rgb(53, 105, 22);
  height: 60px;
}

@media screen and (max-width: 600px) {
  #showcase {
    background: url("../img/showbox_sm.jpg") no-repeat center center;
    height: 200px;
  }
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
  #title-cce h1 {
    font-size: 40px;
  }
}
