.card-btn {
  display: inline-flex;
  margin: 0.6em;
  padding: 0.6em;
  background: yellow;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: solid #333;
}

#showcase {
  background-image: url("../img/architecture-attraction-building-415999.jpg");
  background-position: center;
  height: 600px;
  text-align: center;
}

h1 {
  font-size: 40px;
}
